<footer class="container footer">
  <div class="row text-muted">
    <div class="col-md-1 text-left"><%= fa_icon :heart %></div>
    <div class="col-md-10 text-center">footer</div>
    <div class="col-md-1 text-right"><%= fa_icon :heart %></div>
  </div>
</footer>
